@model Raci.Controllers.FlickModel

<div id="body">
    <section class="featured">
        
    </section>
    <section class="content-wrapper main-content clear-fix">
@*        <img class="image" src="@Model.BaseUrl" alt="weeeeee"/>
        <img class="image2" src="@Model.BlockUrl" alt="weeeeee"/>
        <img class="image3" src="@Model.FinishedUrl" alt="weeeeee"/>*@
        <img src="data:image/png;base64,@Model.BaseEncoded" />
        <img src="data:image/png;base64,@Model.BlockEncoded" />
        <img src="data:image/png;base64,@Model.FinishedEncoded" />
    </section>
</div>

<div id="entry" style="float: right">
    <input class="original" type="text"/>
    <input class="blocks" type="text"/>
    <a class="submit-button">Sumbit</a>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".submit-button").click(function () {
                window.location.href = "http://raci.azurewebsites.net/?original=" + $(".original").val() + "&blocks=" + $(".blocks").val();
            });
        });

    </script>
}
