<div id="body">
    <section class="featured">
        
    </section>
    <section class="content-wrapper main-content clear-fix">
        <img class="image" src="/api/image?tags=sea,cheese" alt="weeeeee"/>
    </section>
</div>

<div id="entry" style="float: right">
    <input class="tags" type="text"/>
    <a class="submit-button">Sumbit</a>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".submit-button").click(function(event) {
                $(".image").attr("src", "/api/image?tags=" + $(".tags").val());
            });
        });
    </script>
}
