<div id="body">
    <section class="featured">
        
    </section>
    <section class="content-wrapper main-content clear-fix">
        <img class="image" src="/api/image?tags=sea,cheese" alt="weeeeee"/>
        <img class="image2" alt="weeeeee"/>
        <img class="image3" alt="weeeeee"/>
    </section>
</div>

<div id="entry" style="float: right">
    <input class="tags" type="text"/>
    <a class="submit-button">Sumbit</a>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".submit-button").click(function (event) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/image?tags=" + $(".tags").val(),
                    data: { name: 'norm' },
                    dataType: "json",
                    success: function (data) {
                        var json = $.parseJSON(data);
                        $(".image2").attr("src", json.base);
                        $(".image3").attr("src", json.block);
                    }
                });
                $(".image").attr("src", "/api/image?tags=" + $(".tags").val());
            });
        });
    </script>
}
