@model Raci.Controllers.FlickModel

<div id="body">
    <section class="featured">
        
    </section>
    <section class="content-wrapper main-content clear-fix">
@*        <img class="image" src="@Model.BaseUrl" alt="weeeeee"/>
        <img class="image2" src="@Model.BlockUrl" alt="weeeeee"/>
        <img class="image3" src="@Model.FinishedUrl" alt="weeeeee"/>*@
        <img src="data:image/png;base64,@Model.BaseEncoded" />
        <img src="data:image/png;base64,@Model.BlockEncoded" />
        <img src="data:image/png;base64,@Model.FinishedEncoded" />
    </section>
</div>

<div id="entry" style="float: right">
    <input class="tags" type="text"/>
    <a class="submit-button">Sumbit</a>
</div>

@section scripts
{
@*    <script type="text/javascript">
        $(function () {
            var refresh = function(value) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/image?tags=" + value,
                    dataType: "application/json",
                    success: function (data) {
                        console.log(data);
                        var json = $.parseJSON(data);
                        $(".image2").attr("src", json.base);
                        $(".image3").attr("src", json.block);
                    }
                });
            };
            refresh("sea,cheese");
            $(".submit-button").click(function () {
                refresh($(".tags").val());
                $(".image").attr("src", "/api/image?tags=" + $(".tags").val());
            });
        });

    </script>*@
}
